*{
	margin:0;
	padding: 0;
	color: white;
}

body {
	background-image: url("../img/wood1.jpg");
	background-size: 100%;

}
#div1{
	height:60px;
	width: 100%;
	border-top: auto;
	background-color:rgba(150,120,110,0.5);
	


}

#logo1{

	float: right;
	height: 60px;
	width: 100px;
}

#div1 li{
	display:inline-block;
	margin-left: 70px;
	color: blue;
    
}
#div1 ul{
	text-align: center;

}
h1{
	padding: top;
}




#div4{
	
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	width: 40%;
	
	height: 500px;




}
#div4 li{
	list-style: none;
	

}
#img{
	
	height: 40%;
	width: 100%;
	margin-top: 100px;
}

header{

	display: flex ;
	justify-content: center;
}
form{
	
	height: 100%;
	width: 40%;
	margin-right: 200px;
	margin-top: 70px;
}
#input{
	border-radius: 0%
}

input {
	color: black;
}
a {
	color: blue;
	text-decoration: none;
}